---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p class="archive__item-excerpt" style="font-size: 0.95em;">
  Overview of teaching activities at the undergraduate and master’s levels.<br>
  <strong><u>112 hours</u></strong> delivered across two academic years: <span style="color:#1f77b4;"><u>2024–2025</u></span> and <span style="color:#1f77b4;"><u>2025–2026</u></span> (ongoing).
</p>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single-teaching.html %}
{% endfor %}
