---
layout: archive
title: "Teaching and Supervision"
permalink: /teaching/
author_profile: true
---

<p class="archive__item-excerpt" style="font-size: 0.95em;">
  Overview of teaching and supervision activities.
  <span style="color:#1f77b4;">112 hours</span> of teaching delivered over two academic years at the undergraduate and master’s levels: 
  <span style="color:#1f77b4;"><u>2024–2025</u></span> and 
  <span style="color:#1f77b4;"><u>2025–2026</u></span> (ongoing), along with supervision of BSc, MSc, and PhD students.
</p>

{% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single-teaching.html %}
{% endfor %}
